.hide-scrollbar {
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  height: 0;
  width: 0;
  display: none;
}



[role='button'],
[role='link'] {
  cursor: pointer;
}


.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.gradient-text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-blend-mode: normal;
}

img {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.will-change-transform{
  will-change: transform;
}

.will-change-opacity{
  will-change: opacity;
}

.will-change-scroll{
  will-change: scroll;
}

.will-change-contents{
  will-change: contents;
}