
 
@media screen and (max-width: 700px) {
  #navdiv{
    height: 50px
  }

  #videodiv{
    position: relative;
    top: 4vh;
  }

  #darkbutton, #brightbutton{
    font-size: 0.4rem;
  }

  svg{
   height: 53px;
   width: 55px; 
  }

  #theme{
    height: auto;
    top: 38%;
  }
  
  .theme{
    padding-bottom: 2px;
    font-size: 0.8rem;
  }

  #themedd{
    top: 9vh;
    height: 100px;
    transform: scale(1.5);
  }

  /* #popupdiv{
  opacity: 0;} */

  #darkdiv{
    top: 10vh;
  }

  #brightdiv{
    top: 5vh;
  }

  #thecolors3{
    left: 36.275vw;
    top: 10.3vw;
    transform: scale(1.3);
  }

  #videodiv, #footer{
    display: none;
  }

  #thevideos, .videoz{
    height: 50vh
  }

  #deviceinfo, #calculator, #down, #fontcolor{
    display: none;
  }
}
